<!-- <section class="dark:bg-black dark:text-white">
    <div class="container flex justify-between  align-center my-15">
       <div class="caption w-1/2 relative left-25 top-40" [@slideInLeft]>
         <h5 class="fw-bold text-xl">
            Welcom
        </h5>
        <h1 class="text-5xl font-bold  mb-4">
            I am <br> Ahmed Khaled <br>
            <span class="text-main">Frontend Developer</span>
            <div class="w-1/4 flex justify-between mt-3">
                <a href="#"><i class="fab fa-github text-2xl text-gray-600 hover:text-main"></i></a>
                <a href="#"><i class="fab fa-linkedin text-2xl text-gray-600 hover:text-main"></i></a>
                <a href="#"><i class="fab fa-instagram text-2xl text-gray-600 hover:text-main"></i></a>
                <a href="#"><i class="fab fa-facebook text-2xl text-gray-600 hover:text-main"></i></a>
                
            </div>
        </h1>
       </div>

       <div class="img  w-1/2 relative" [@slideInRight] >
        <div class="absolute bg-main w-[400px] h-[400px] rounded-full left-23 top-35"></div>
        <img src="/imges/faa_profile-removebg-preview (1).png" class="w-3/4 relative" alt="">
       </div>
    </div>


    <button class="btn btn-soft">Default</button>
<button class="btn btn-soft btn-primary">Primary</button>
<button class="btn btn-soft btn-secondary">Secondary</button>
<button class="btn btn-soft btn-accent">Accent</button>
<button class="btn btn-soft btn-info">Info</button>
<button class="btn btn-soft btn-success">Success</button>
<button class="btn btn-soft btn-warning">Warning</button>
<button class="btn btn-soft btn-error">Error</button>



</section> -->


<!-- <section class="dark:bg-black ">
<div class="container grid sm:grid-cols-12 ">
    <div class="sm:col-span-12 md:col-span-6 lg:col-span-6">
        <div class="caption relative sm:left-15 sm:top-20  md:left-25 md:top-40">
            <h5 class="fw-bold text-xl">
            Welcom
        </h5>
        <h1 class="text-5xl font-bold  mb-4">
            I am <br> Ahmed Khaled <br>
            <span class="text-main">Frontend Developer</span>
            <div class="w-1/4 flex justify-between mt-3">
                <a href="#"><i class="fab fa-github text-2xl text-gray-600 hover:text-main"></i></a>
                <a href="#"><i class="fab fa-linkedin text-2xl text-gray-600 hover:text-main"></i></a>
                <a href="#"><i class="fab fa-instagram text-2xl text-gray-600 hover:text-main"></i></a>
                <a href="#"><i class="fab fa-facebook text-2xl text-gray-600 hover:text-main"></i></a>
            </div>
        </h1>
        </div>
    </div>
    <div class="sm:col-span-12 md:col-span-6 ">
        <div class="img relative">
             <div class="absolute sm:w-[400px] sm:h-[400px] sm:left-31 sm:top-40 bg-main md:w-[400px] md:h-[400px] rounded-full md:left-23 md:top-35"></div>
        <img src="/imges/faa_profile-removebg-preview (1).png" class="w-3/4 relative sm:left-20 sm:top-20 md:left-3 md:top-2 " alt="">
        </div>
    </div>
</div>
</section> -->


<!-- <section class="dark:bg-black py-10 md:py-20">
<div class="container grid grid-cols-12 gap-4">
    
    <div class="col-span-12 md:col-span-6 flex items-center" [@slideInLeft]>
        <div class="caption my-3 sm:mt-10 px-4 sm:px-8 md:px-12 dark:text-white">
            <h5 class="font-bold text-xl mb-2">
                {{'home.welcome'|translate}}
            </h5>
            <h1 class="text-3xl sm:text-4xl md:text-5xl font-bold mb-4 ">
                {{'home.i_am'|translate}} <br>{{'home.name'|translate}}<br>
                <span class="text-main">{{'home.job_title'|translate}}</span>
            </h1>
            <div class="w-full max-w-[200px] flex justify-between mt-6">
                <a href="https://github.com/a7medkhaled16"><i class="fab fa-github text-2xl text-gray-600 hover:text-main transition"></i></a>
                <a href="https://www.linkedin.com/in/ahmedkhaled16?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"><i class="fab fa-linkedin text-2xl text-gray-600 hover:text-main transition"></i></a>
                <a href="https://www.instagram.com/a7meed_aboels3ood?igsh=MWxwdTk5NDJ4bDQ4OA%3D%3D&utm_source=qr"><i class="fab fa-instagram text-2xl text-gray-600 hover:text-main transition"></i></a>
                <a href="https://www.facebook.com/ahmed.aboelsoud.1690?mibextid=wwXIfr&mibextid=wwXIfr"><i class="fab fa-facebook text-2xl text-gray-600 hover:text-main transition"></i></a>
            </div>
        </div>
    </div>
    
   
    <div class="col-span-12 md:col-span-6 flex items-center justify-center" [@slideInRight]>
        <div class="img relative w-full max-w-[500px] h-[450px] sm:h-[550px] md:h-[600px]">
           
            <div class="absolute w-[280px] h-[280px] sm:w-[400px] sm:h-[400px] md:w-[450px] md:h-[450px] 
                        top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
                        bg-main rounded-full"></div>
           
            <img src="/imges/faa_profile-removebg-preview (1).png" 
                 class="absolute w-[350px] sm:w-[480px] md:w-[550px] 
                        top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10" 
                 alt="Ahmed Khaled">
        </div>
    </div>
</div>
</section> -->

<section class="dark:bg-black min-h-screen flex items-center pt-20 md:pt-0">
<div class="container grid grid-cols-12 gap-4">
    <!-- Text Section -->
    <div class="col-span-12 md:col-span-6 flex items-center" [@slideInLeft]>
        <div class="caption px-4 sm:px-8 md:px-12 dark:text-white">
            <h5 class="font-bold text-xl mb-2">
                {{'home.welcome'|translate}}
            </h5>
            <h1 class="text-3xl sm:text-4xl md:text-5xl font-bold mb-4">
                {{'home.i_am'|translate}} <br>{{'home.name'|translate}}<br>
                <span class="text-main">{{'home.job_title'|translate}}</span>
            </h1>
            <div class="w-full max-w-[200px] flex justify-between mt-6">
                <a href="https://github.com/a7medkhaled16"><i class="fab fa-github text-2xl text-gray-600 hover:text-main transition"></i></a>
                <a href="https://www.linkedin.com/in/ahmedkhaled16"><i class="fab fa-linkedin text-2xl text-gray-600 hover:text-main transition"></i></a>
                <a href="https://www.instagram.com/a7meed_aboels3ood"><i class="fab fa-instagram text-2xl text-gray-600 hover:text-main transition"></i></a>
                <a href="https://www.facebook.com/ahmed.aboelsoud.1690"><i class="fab fa-facebook text-2xl text-gray-600 hover:text-main transition"></i></a>
            </div>
        </div>
    </div>
    
    <!-- Image Section -->
    <div class="col-span-12 md:col-span-6 flex items-center justify-center" [@slideInRight]>
        <div class="img relative w-full max-w-[500px] h-[400px] sm:h-[500px] md:h-[600px]">
            <div class="absolute w-[280px] h-[280px] sm:w-[350px] sm:h-[350px] md:w-[450px] md:h-[450px] 
                        top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
                        bg-main rounded-full"></div>
            <img src="/imges/faa_profile-removebg-preview (1).png" 
                 class="absolute w-[300px] sm:w-[400px] md:w-[550px] 
                        top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10" 
                 alt="Ahmed Khaled">
        </div>
    </div>
</div>
</section>

<app-about-component/>
<app-education-component/>
<app-project-component/>
<app-contact/>