
<section class="dark:bg-black min-h-screen flex items-center pt-20 md:pt-0 ">
<div class="container grid grid-cols-12 gap-4">
    <!-- Text Section -->
    <div class="col-span-12 md:col-span-6 flex items-center" [@slideInLeft]>
        <div class="caption px-4 sm:px-8 md:px-12 dark:text-white">
            <h5 class="font-bold text-xl mb-2">
                {{'home.welcome'|translate}}
            </h5>
            <h1 class="text-3xl sm:text-4xl md:text-5xl font-bold mb-4">
                {{'home.i_am'|translate}} <br>{{'home.name'|translate}}<br>
                <!-- <span class="text-main">{{'home.job_title'|translate}}</span> -->
                 <span class="text-main inline-block">
            {{displayText}}
            <span class="cursor-blink"></span>
          </span>
            </h1>
            <div class="w-full max-w-[200px] flex justify-between mt-6">
                <a href="https://github.com/a7medkhaled16"><i class="fab fa-github text-2xl text-gray-600 hover:text-main mybtn"></i></a>
                <a href="https://www.linkedin.com/in/ahmedkhaled16"><i class="fab fa-linkedin text-2xl text-gray-600 hover:text-main mybtn"></i></a>
                <a href="https://www.instagram.com/a7meed_aboels3ood"><i class="fab fa-instagram text-2xl text-gray-600 hover:text-main mybtn"></i></a>
                <a href="https://www.facebook.com/ahmed.aboelsoud.1690"><i class="fab fa-facebook text-2xl text-gray-600 hover:text-main mybtn"></i></a>
            </div>
            

            <a href="https://drive.google.com/file/d/1AD2KJLcfBUt-I6fdsKEhcRe0UNb9ih9f/view?usp=sharing" target="_blank">
  <button class="cv-btn my-3 p-2 mx-3 border-2 cursor-pointer border-main text-main rounded-lg font-bold transform transition-all duration-300 hover:bg-main hover:text-white hover:scale-110">
    <i class="fa-solid fa-file-pdf "></i>
     My CV
  </button>
</a>

        </div>
    </div>
    
    <!-- Image Section -->
    <div class="col-span-12 md:col-span-6 flex items-center justify-center" [@slideInRight]>
        <div class="img relative w-full max-w-[500px] h-[400px] sm:h-[500px] md:h-[600px]">
            <div class="absolute w-[280px] h-[280px] sm:w-[350px] sm:h-[350px] md:w-[450px] md:h-[450px] 
                        top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
                        bg-main rounded-full"></div>
            <img src="/imges/faa_profile-removebg-preview (1).png" 
                 class="absolute w-[300px] sm:w-[400px] md:w-[550px] 
                        top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10" 
                 alt="Ahmed Khaled">
        </div>
    </div>
</div>
</section>

<app-about-component/>
<app-education-component/>
<app-project-component/>
<app-contact/>


