<section class="h[90vh] dark:text-white">
    <h2 class="text-4xl font-bold text-center mt-3"> My projects</h2>
    <div class="bg-main w-[100px] h-[5px] m-auto my-4 rounded"></div>
    <div class="container grid grid-cols-12 my-20 gap-8">

        <div class="section col-span-12 sm:col-span-10 md:col-span-4 ">
            <div class="pro w-full border border-gray-400 rounded transition duration-300 hover:scale-95 hover:cursor-pointer shadow-2xl h-[450px]">
                <div class="photo p-2">
                    <img src="/imges/E-commerce.png" class="w-full" alt="">
                </div>
                <div class="description p-7 dark:text-white">
                    <h3 class="text-txt text-2xl font-bold dark:text-white">E-commerce Website</h3>
                    <p class="text-txt my-4 dark:text-white"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, sed?
                </p>
               <div class="footer">
                 

                <a href="https://new-e-commerce-website.netlify.app/home" class="hover:cursor-pointer"><button class="cursor-pointer px-3 py-1 rounded border border-gray-400 hover:border-main hover:text-main text-xl font-bold transition duration-300 hover:scale-125">visit <i class="fa-solid fa-arrow-right"></i></button></a>
                <a href="https://github.com/a7medkhaled16/E-commerce-Website-2"><i class="fab fa-github text-4xl text-gray-600 hover:text-main relative top-0.5 left-8 transition duration-300 hover:scale-125 dark:text-white"></i></a>
               </div>
                </div>
            </div>
        </div>
        <div class="section col-span-12 sm:col-span-10 md:col-span-4">
            <div class="pro w-full border border-gray-400 rounded transition duration-300 hover:scale-95 hover:cursor-pointer shadow-2xl h-[450px] ">
                <div class="photo p-2">
                    <img src="/imges/portfolioo.png" class="w-full" alt="">
                </div>
                <div class="description p-7 dark:text-white">
                    <h3 class="text-txt text-2xl font-bold dark:text-white">Portfolio Website</h3>
                    <p class="text-txt my-4 dark:text-white"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, sed?
                </p>
               <div class="footer">
                <a href="https://myportfolioo-app.netlify.app/home" class="hover:cursor-pointer"><button class="cursor-pointer px-3 py-1 rounded border border-gray-400 hover:border-main hover:text-main text-xl font-bold transition duration-300 hover:scale-125">visit <i class="fa-solid fa-arrow-right"></i></button></a>
                <a href="https://github.com/a7medkhaled16/My-portfolio"><i class="fab fa-github text-4xl text-gray-600 hover:text-main relative top-0.5 left-8 transition duration-300 hover:scale-125 dark:text-white"></i></a>
               </div>
                </div>
            </div>
        </div>
        <div class="section col-span-12 sm:col-span-10 md:col-span-4">
            <div class="pro w-full border border-gray-400 rounded transition duration-300 hover:scale-95 hover:cursor-pointer shadow-2xl h-[450px]">
                <div class="photo p-2">
                    <img src="/imges/social-app.png" class="w-full" alt="">
                </div>
                <div class="description p-7 dark:text-white">
                    <h3 class="text-txt text-2xl font-bold dark:text-white">Social App </h3>
                    <p class="text-txt my-4 dark:text-white"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, sed?
                </p>
               <div class="footer">
                <a href="https://mysocialapp16.netlify.app/" class="hover:cursor-pointer"><button class="cursor-pointer px-3 py-1 rounded border border-gray-400 hover:border-main hover:text-main text-xl font-bold transition duration-300 hover:scale-125">visit <i class="fa-solid fa-arrow-right"></i></button></a>
                <a href="https://github.com/a7medkhaled16/sosial-app"><i class="fab fa-github text-4xl text-gray-600 hover:text-main relative top-0.5 left-8 transition duration-300 hover:scale-125 dark:text-white"></i></a>
               </div>
                </div>
            </div>
        </div>

         <div class="section col-span-12 sm:col-span-10 md:col-span-4">
            <div class="pro w-full border border-gray-400 rounded transition duration-300 hover:scale-95 hover:cursor-pointer shadow-2xl h-[450px]">
                <div class="photo p-2">
                    <img src="/imges/pharma-care.png" class="w-full" alt="">
                </div>
                <div class="description p-7 dark:text-white">
                    <h3 class="text-txt text-2xl font-bold dark:text-white">Pharma care</h3>
                    <p class="text-txt my-4 dark:text-white"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, sed?
                </p>
               <div class="footer">
                <a href="https://pharmacare-site.netlify.app/home" class="hover:cursor-pointer"><button class="cursor-pointer px-3 py-1 rounded border border-gray-400 hover:border-main hover:text-main text-xl font-bold transition duration-300 hover:scale-125">visit <i class="fa-solid fa-arrow-right"></i></button></a>
                <a href="https://github.com/a7medkhaled16/pharma-care"><i class="fab fa-github text-4xl text-gray-600 hover:text-main relative top-0.5 left-8 transition duration-300 hover:scale-125 dark:text-white"></i></a>
               </div>
                </div>
            </div>
        </div>
    </div>
</section>