<section class="bg-gray-200 dark:bg-black dark:text-white  my-15 p-12">
    <h2 class="font-bold text-3xl text-center mt-5">{{"experience.experience_education_title" |translate}}</h2>
    <div class="bg-main w-[200px] h-[3px] m-auto my-2"></div>
 <div class="container grid grid-cols-12  gap-5 my-10">
    <div class="col-span-12  sm:col-span-10 md:col-span-8 dark:text-white ">
        <div class="section p-4 bg-white dark:bg-gray-800 rounded transition duration-300 hover:scale-105">
            <h4 class="font-bold text-xl"><span class="text-main mx-2">*</span>{{"experience.education_1_title" |translate}}</h4>
            <p class="my-2"> - {{"experience.education_1_degree" |translate}} </p>

        </div>
    </div>
    <div class="col-span-12 sm:col-span-10 md:col-span-8 dark:text-white ">
        <div class="section p-4 bg-white dark:bg-gray-800 rounded transition duration-300 hover:scale-105">
            <h4 class="font-bold text-xl"><span class="text-main mx-2">*</span>{{"experience.experience_1_title" |translate}} </h4>
            <p class="my-2"> - {{"experience.experience_1_desc_1" |translate}} </p>
            <p> - {{"experience.experience_1_desc_2" |translate}} </p>
           <div class="skills my-3">
             <button class="px-3 py-2 bg-red-300 text-red-800 rounded">HTML5</button>
            <button class="px-3 py-2 bg-sky-300 text-sky-800 rounded ml-2">CSS</button>
            <button class="px-3 py-2 bg-green-300 text-green-800 rounded ml-2">JavaScript</button>
            <button class="px-3 py-2 bg-gray-300 text-gray-800 rounded ml-2">TypeScript</button>
            <button class="px-3 py-2 bg-orange-300 text-orange-800 rounded ml-2">Angular</button>
            <button class="px-3 py-2 bg-blue-300 text-blue-800 rounded ml-2">Bootstrap</button>
           </div>
        </div>
    </div>
    <div class="col-span-12 sm:col-span-10 md:col-span-8 dark:text-white ">
        <div class="section p-4 bg-white dark:bg-gray-800 rounded transition duration-300 hover:scale-105">
            <h4 class="font-bold text-xl"><span class="text-main mx-2">*</span>{{"experience.experience_2_title" |translate}} </h4>
            <p class="my-2"> - {{"experience.experience_2_desc" |translate}} </p>
            <!-- <p> - Supported team projects by applying modern frontend practices </p> -->
           <div class="skills my-3">
            <button class="px-3 py-2 bg-gray-300 text-gray-800 rounded ml-2">TypeScript</button>
            <button class="px-3 py-2 bg-orange-300 text-orange-800 rounded ml-2">Angular</button>
            <button class="px-3 py-2 bg-blue-300 text-blue-800 rounded ml-2">Bootstrap</button>
            <button class="px-3 py-2 bg-red-300 text-red-800 rounded ml-2">Nodejs</button>
            <button class="px-3 py-2 bg-sky-300 text-sky-800 rounded ml-2">MongoDB</button>
            <button class="px-3 py-2 bg-green-300 text-green-800 rounded ml-2">Express</button>
           </div>
        </div>
    </div>
    <div class="col-span-12 sm:col-span-10 md:col-span-8 dark:text-white ">
        <div class="section p-4 bg-white dark:bg-gray-800 rounded transition duration-300 hover:scale-105">
            <h4 class="font-bold text-xl"><span class="text-main mx-2">*</span>{{"experience.experience_3_title" |translate}}</h4>
            <p class="my-2"> -  {{"experience.experience_education_title" |translate}}. </p>
            <!-- <p> - Supported team projects by applying modern frontend practices </p> -->
           <div class="skills my-3">
             <button class="px-3 py-2 bg-red-300 text-red-800 rounded">HTML5</button>
            <button class="px-3 py-2 bg-sky-300 text-sky-800 rounded ml-2">CSS</button>
            <button class="px-3 py-2 bg-blue-300 text-blue-800 rounded ml-2">Bootstrap</button>
            <button class="px-3 py-2 bg-green-300 text-green-800 rounded ml-2">JavaScript</button>
            <button class="px-3 py-2 bg-gray-300 text-gray-800 rounded ml-2">TypeScript</button>
            <button class="px-3 py-2 bg-orange-300 text-orange-800 rounded ml-2">Angular</button>
            <button class="px-3 py-2 bg-blue-300 text-blue-800 rounded ml-2">Tailwind</button>
           </div>
        </div>
    </div>
 </div>
</section>